*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background-color: #616161;
    height: 660px;
    color: #faebd779;
    display: flex;
     
}
.logo{
    margin: 40px;
    font-size: 2rem;
    color: #fffffff5;

}
.links{
     
    margin: 40px;
     display: flex;
     text-transform: lowercase;
     
      
}
.links li{
    list-style: none;
    padding: 15px;
    margin-left: 40px;
    
}
.links a{
    text-decoration: none;
    color: hsla(34, 78%, 91%, 0.582);
    
}
.links a:hover{
     color: white;
     transition: all 0.2 ease;
     cursor: pointer;
      border-bottom: 2px solid;
      padding: 5px;
}
.icon{
      padding: 55px;
      margin-left: 300px;
}
.icon span{
    color: white;
    padding: 5px;
    
}

 
 
 
 
 
     

 
       

